html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

#card {
  height: 300px;
  width: 300px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#card img {
  max-width: 300%;
  max-height: 300px;
  object-fit: cover;
}

#card button {
  background-color: aqua;
  color: blueviolet;
  font-weight: 800;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

h5{
  font-size: large;
  color:green;
}
