body {
  background-color: pink;
  color: brown;
}

button {
  background-color: red;
  color:white;
  font: size 20px;
  border-radius: 15px;
  padding: 10px;
  margin:10px;
  cursor: pointer

}

.VALIENTINE{
  font-size: 25px;
  font-weight: bold;

}
